# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
bin
/config
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
# Ignore Gradle build output directory
build
package-lock.json
external-chaincode/

# Eclipse
.classpath
.settings

/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/hosp1apollo/fabric-ca-server-config.yaml
organizations/fabric-ca/hosp2vijaya/fabric-ca-server-config.yaml
addOrg3/fabric-ca/hosp3stanley/fabric-ca-server-config.yaml
addOrg3/fabric-ca/org3/fabric-ca-server-config.yaml
addInsurance/fabric-ca/org3/fabric-ca-server-config.yaml
addInsurance/fabric-ca/Ins1starhealth/fabric-ca-server-config.yaml
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt

